<div class="item" (click)="onUserItemClicked(user.html_url)">
  <div class="image">
    <img [src]="user.avatar_url" [alt]="user.name">
  </div>
  <div class="bio">
    <span class="names">{{ user.name }} <span class="username" (click)="onUserItemClicked(user.html_url)">@{{ user.login }}</span></span>
    <p class="description">
      {{ user.bio ? user.bio : 'Bio Not Provided' }}
    </p>
  </div>
  <div class="followers-following-repo">
    <div class="followers"><b>Followers </b> <span class="num" [textContent]="user.followers"></span></div>
    <div class="following"><b>Following </b> <span class="num" [textContent]="user.following"></span></div>
    <div class="repos"><b>Repos </b> <span class="num" [textContent]="user.public_repos"></span></div>
  </div>
</div>

