<div class="item">
  <div class="image">
    <img src="../../../assets/images/woman.jpg" alt="woman">
  </div>
  <div class="bio">
    <span class="names">Olaore Fouad <span class="username">@OlaoreFouad</span></span>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste inventore soluta cumque repellendus amet debitis non, sit quas magnam illum?
    </p>
  </div>
  <div class="followers-following-repo">
    <div class="followers"><b>Followers </b> <span class="num">23</span></div>
    <div class="following"><b>Following </b> <span class="num">44</span></div>
    <div class="repos"><b>Repos </b> <span class="num">33</span></div>
  </div>
</div>

