.container {
  padding: 1rem;

  .total-count-container {

    display: flex;
    margin: 10px 0;

    span {
      color: black;
      font-size: 1.2rem;
      margin-left: auto;
    }

  }

  .my-pagination .ngx-pagination {
    font-size: 1.1rem;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media(max-width: 600px) {
      & > * {
        grid-column: 1 / -1;
      }
    }

  }

}
