<div class="container">
  <section class="search-section">
    <div class="label">
      <img src="../../../assets/images/search_logo.svg" alt="search logo">
      <span>Search more than <b>40M</b> users.</span>
    </div>
    <div class="form">
      <input type="text" class="search-input" placeholder="Search GitHub" [formControl]="searchFormControl" (keyup.enter)="onSubmitQuery()">
      <button
        class="search-btn"
        [disabled]="searchFormControl.invalid"
        (click)="onSubmitQuery()"
        >
        Search
      </button>
    </div>
  </section>
  <hr>
</div>
